/*Texts*/
.bolded {
    font-weight: bold;
    color: darkgrey;
}

/*Animation*/
body::-webkit-scrollbar{
    display: none;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-o-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/*Primary Elements*/
body {
    margin: 0;
    background: black;
    text-align: center;
    color: grey;
    -ms-overflow-style: none;
    scrollbar-width: none;
    position: relative;
    width: 100vw;
    height: 100vh + scrollHeight;
    min-height: 100vh;
}

body.blog_info {
    display: inline-block;
    position: relative;
}

.large_div {
    max-width: 100vw;
    overflow: hidden;
    animation: fadein 1s;
    -moz-animation: fadein 1s;
    -webkit-animation: fadein 1s;
    -o-animation: fadein 1s;
}

/*Navbar*/
#navbar {
    animation: none;
    -moz-animation: none;
    -webkit-animation: none;
    -o-animation: none;
    position: fixed;
    width:100%;
    height: 50px;
    background: black;
    position: fixed;
    top:0;
    z-index: 5;
}

li {
    float: left;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li a {
    display: block;
    color: grey;
    font-family: "Helvetica";
    text-align: center;
    margin: 15px 16px;
    text-decoration: none;
    outline-color: black;
    outline-style: outset;
}

li a:hover {
    text-decoration: underline;
}

/*Blog Links*/
#blog_links a {
    color:#cfa97c;
    font-weight: bold;
    text-decoration: none;
}

/*unvisited*/
#blog_links a:link {
    color:#cfa97c;
}

/*mouse over*/
#blog_links a:hover {
    text-decoration: underline;
}

/*selected*/
#blog_links a:active {
    color: lightgrey;
}

/*Blog Content*/
h1.blog_name {
    color: grey;
    font-family: Verdana;
    font-size: 700%;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 5%;
    text-align: left;
}

p.blog_description {
    color:#c9beb1;;
    max-width: 50%;
    font-size: 200%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    text-align: left;
}

#side_img_r1 {
    position: absolute;
    top: 30%;
    right: 2%;
    background-size: 100px;
    height: 25vw;
    width: 25vw;
    background: url("images/hoarding.png") no-repeat;
    background-size:contain;
    z-index: -9999;
}

#blog_links {
    max-width: 50%;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

#blog_links a {
    font-size: 200%;
}

/*Footer*/

#bottom p {
    font-size: 15px;
    position: absolute;
    bottom: 0;
    text-align: center;
    z-index: 4;
    width: 100%;
}